<html>
<%- include('./partials/head.ejs') %>

<body>
<%- include('./partials/header.ejs') %>

<section id="detalhes-prod" class="section-produto">

    <div class="single-prod-img">
        <img src="/livros/<%= result._id %>.jpg" width="100%" id="mainimg" alt="">
        
    </div>

    <div class="single-prod-detalhes">
        <h5 class="page-path"><a href="/">Início</a> / <%= result.categoria %> / <%= result.titulo %></h6>
        <h4><%= result.titulo %><br><%= result.autor %></h4>
        <h2>R$<%= Number(result.valor).toFixed(2) %></h2>
        <input type="number" value="1">
        <button class="btn">
            <i class="fas fa-basket-shopping icon-botao-cesta"></i>
            Comprar
        </button>
        <h4>Detalhes</h4>
        <span><%= result.sinopse %></span>
    </div>

</section>

<section class="destaques" id="destaques">

    <h1 class="heading"> <span>Livros em destaque</span></h1>
    <%- include('./partials/table.ejs') %>

    <!-- <div class="swiper slider-destaques">

        <div class="swiper-wrapper">

            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="/livros/a cinco passos de voce.jpg" alt="">
                    <div class="desc">
                        <h5>A cinco passos de você</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>

            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="/livros/nao sobrou nenhhum.jpg" alt="">
                    <div class="desc">
                        <h5>E Não Sobrou Nenhum</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>

            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="/livros/o vilarejo.jpg" alt="">
                    <div class="desc">
                        <h5>O Vilarejo</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>

            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="/livros/percy jackson ladrão de raios.jpg" alt="">
                    <div class="desc">
                        <h5>Percy Jackson e o Ladrão de Raios</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>

            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="/livros/rainha charlotte.jpg" alt="">
                    <div class="desc">
                        <h5>Rainha Charlotte</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>

            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="/livros/vespera.jpg" alt="">
                    <div class="desc">
                        <h5>Véspera</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>
            
            
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div> -->

</section>


<%- include('./partials/footer.ejs') %>

</body>
</html>
